/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.navbar-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px; /* ajustează după nevoi */
    height: 100vh;
    padding: 1rem;
    overflow-y: auto;
    z-index: 1000;
}

body {
    margin-left: 220px; /* să nu fie acoperit conținutul principal */
}

/* Optional: stiluri nav-link când se activează */
.navbar-sidebar .nav-link.active {
    background-color: #1b6ec2;
    color: #fff;
    border-radius: .375rem;
}
