@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger"> Acces neautorizat ! </h1>
    <p class="text-danger"> Nu aveti acces la aceasta sectiune.</p>
    <p class="text-danger"> Pentru a putea solicita aceasta pagina va rugam sa contactati un administrator sau o persoana de contact </p>
    <p> Multumim de intelegere !</p>

</header>


