@model HaarpTech_Licenta.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit";
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @section Styles {
        <style>
            .center-text {
                margin-top: 60px;
                text-align: center;
            }

            .concent {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .content {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
            }
        </style>
    }
</head>
<body>
    <h3 class="center-text">Editare Cont</h3>

    <div class="concent">
        <div class="row border border-2 p-5 content">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CompanyName" class="control-label"></label>
                        <input asp-for="CompanyName" class="form-control" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CompanyDescription" class="control-label"></label>
                        <textarea asp-for="CompanyDescription" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="CompanyDescription" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Salvează" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Înapoi la listă</a>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
